html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: black;
}

.header {
    border: 1px inset black;
    padding: 15px;
    background-color: darkblue;
    color: white;
    border: solid;
    text-align: center;

}

.listofagencies {
    width: 35%;
    float: left;
    padding: 15px;
    background-color: darkblue;
    border: 1px inset black;
    font-size: 25px;
}

.listofreports {
    width: 65%;
    float: left;
    padding: 15px;
    border: 1px inset black;
    background-color: darkblue;
    color: white;
    font-size: 25px;
}
.card {
    background-color: darkblue;
    color: white;
}
.liveCadHeader {
    background-color: darkblue;
    color: white;
    border: solid;
}
.liveCadSingleRow{
    background-color: darkblue;
    color:white;
    border:solid;
}

/*.counterCSS {
    background-color: darkblue;
    color: white;
    text-align: center;
}*/
.counterCSS {
    width: 65%;
    float: left;
    padding: 15px;
    background-color: darkblue;
    color: white;
    border: 1px inset black;
    text-align: center;
    
}
