html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  background-color: black;
}

.grid-container {
    display: grid;
    background-color: darkblue;
    color: white;
    font-weight: bold;
    text-align: center;
    grid-template-areas:
        "header header "
        "agencies counter "
        "agencies reports "
}

.grid-item-header {
    grid-area: header;
    border: solid;
    text-align: center;
}

.grid-item-agencies {

    grid-area: agencies;
    border: solid;
}

.grid-item-reports {
    grid-area: reports;
    border: solid;
    grid-row: span 2;
}

.grid-item-counter {
    grid-area: counter;
    border: solid;
    height: fit-content;
}
.table {
    color: white;
   
}