html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  background-color: black;
}

.grid-container {
    display: grid;
    background-color: darkblue;
    color: white;
    border: solid;
    padding: 3px;
    font-weight: bold;
    text-align: center;
    grid-template-areas:
        "header header "
        "agencies counter "
        "agencies reports "
        "agencies reports"
}

.grid-item-header {
    border-bottom: 6px solid white;;
    grid-area: header;
    text-align: center;
    color:red;
}

.grid-item-agencies {
    grid-area: agencies;
    border-style: none solid none none;

}

.grid-item-reports {
    grid-area: reports;
    grid-row: span 1;
    border-style: none none none none;
}

.grid-item-counter {
    grid-area: counter;
    border-style: none none solid none;
    height: fit-content;
}
.table {
    color: white;
   
}