@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<form method="post">
    <button type="submit" class="btn btn-sm btn-success" asp-page-handler="Start">Start</button>
</form>
<hr />
<div class="container">
    <div class="row">
<div class="card col-md-3">
    <div class="card-header">
        Jednoski
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <td>Jednostka </td>
                    <td>Miasto </td>
                    <td>Status </td>
                </tr>
            </thead>
            <tbody>
                        @foreach (var agency in Model.Agencies)
                        {
                            <tr><td><span id="@agency.Id"></span></td><td>@agency.Name</td><td>@agency.City</td><td><span id="teststat">test</span></td></tr>
                        }
            </tbody>
        </table>
    </div>
</div>

    </div>
</div>

<p><span id="sta">xd</span></p>

@section Scripts{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/index.js"></script>
}