@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>Emergency Dashboard</h1>



@section Scripts{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/index.js"></script>
}